<!DOCTYPE html>
<html>
<head>
  <title>Twqa</title>

  <%= stylesheet_link_tag "qa" %>
  <%= javascript_include_tag "jquery-1.7" %>
  <%= javascript_include_tag "shuffle" %>
  <%= javascript_include_tag "mustache" %>
  <%= javascript_include_tag "qa" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
